<div class="container-fluid">

	<!--<hr>-->
	<div class="row">
		<div class="col-md-12">
		<div class="card card-block">
			<h5 class="card-title">Application selection</h5>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-3 col-lg-6">
			<div class="card card-primary card-inverse">
				<div class="card-header card-primary">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-address-book fa-5x"></i>
						</div>
						<div class="col-xs-9 text-xs-right">
							<div class="huge"></div>
							<div>New Customer</div>
						</div>
					</div>
				</div>
				<div class="card-footer card-default">
					<a href="/dashboard/customer"> <span class="pull-xs-left">Create new customer</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card card-primary card-inverse">
				<div class="card-header card-primary">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tasks fa-5x"></i>
						</div>
						<div class="col-xs-9 text-xs-right">
							<div class="huge"></div>
							<div>Customer List</div>
						</div>
					</div>
				</div>
				<div class="card-footer card-default">
					<a href="/dashboard/customer-list"> <span class="pull-xs-left">View
							Customer list</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card card-warning card-inverse">
				<div class="card-header card-warning">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-shopping-cart fa-5x"></i>
						</div>
						<div class="col-xs-9 text-xs-right">
							<div class="huge"></div>
							<div>New Order</div>
						</div>
					</div>
				</div>
				<div class="card-footer card-yellow">
					<a class="text-warning" href="/dashboard/order"> <span
						class="pull-xs-left">Create new order</span> <span
						class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card card-warning card-inverse">
				<div class="card-header card-warning">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tasks fa-5x"></i>
						</div>
						<div class="col-xs-9 text-xs-right">
							<div class="huge"></div>
							<div>Order list</div>
						</div>
					</div>
				</div>
				<div class="card-footer card-yellow">
					<a class="text-warning" href="/dashboard/order-list"> <span
						class="pull-xs-left">View order list</span> <span
						class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	

</div>
