<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Password management</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> Change password</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	

	<div class="row">
		<div class="col-lg-6">
			<alert></alert>
			<div *ngIf="confirm" class="alert-success"> {{userName}} saved. </div>
    		<div *ngIf="errorMessage" class="alert-danger"> {{errorMessage}} </div> 
			<form role="form" #changePasswordForm="ngForm"  *ngIf="active" (ngSubmit)="onSubmit(changePasswordForm.value, $event)">
				<fieldset class="form-group">
					<label>Current password</label> <input
						class="form-control" placeholder="" name="password" required [(ngModel)]="changePassword.password">
				</fieldset>
				<fieldset class="form-group">
					<label>New password</label> <input
						class="form-control" placeholder="" name="newPassword" required [(ngModel)]="changePassword.newPassword">
				</fieldset>
				<fieldset class="form-group">
					<label>Repeat new password</label> <input
						class="form-control" placeholder="" name="repeatPassword" required [(ngModel)]="changePassword.repeatPassword">
				</fieldset>

				<button type="submit" class="btn btn-secondary"
             		[disabled]="!changePasswordForm.form.valid">Change password</button>
  		
			</form>



		</div>
	</div>
	<!-- /.row -->

</div>