<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Create new customer</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> Customer</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	

	<div class="row">
		<div class="col-lg-6">
			<alert></alert>
			<div *ngIf="customerId" class="alert-success"> {{customerId}} saved </div>
    		<div *ngIf="errorMessage" class="alert-danger"> {{errorMessage}} </div> 
			<form role="form" #customerForm="ngForm"  *ngIf="active" (ngSubmit)="onSubmit(customerForm.value, $event)">
				<fieldset class="form-group">
				    <input type="hidden" name = "id" [(ngModel)]="customer.id">
					<label>First name</label> <input class="form-control" name="firstName" required [(ngModel)]="customer.firstName">
					<!--<p class="help-block">Example block-level help text here.</p>-->
					<!--
					<div [hidden]="firstName.valid || firstName.pristine"
             			class="alert alert-danger">
          				First name is required
          			</div>
          			-->
				</fieldset>

				<fieldset class="form-group">
					<label>Last Name</label> <input
						class="form-control" placeholder="" name="lastName" required [(ngModel)]="customer.lastName">
				</fieldset>
				
				<fieldset class="form-group">
					<label>Company Name</label> <input
						class="form-control" placeholder="" name="companyName" [(ngModel)]="customer.companyName">
				</fieldset>
				
				<fieldset class="form-group">
					<label>Email address</label> <input
						class="form-control" placeholder="" name="emailAddress" [(ngModel)]="customer.emailAddress">
				</fieldset>
				
				<fieldset class="form-group">
					<label>Address</label> <input
						class="form-control" placeholder="" name="address"  [(ngModel)]="customer.address">
				</fieldset>
				
				<fieldset class="form-group">
					<label>City</label> <input
						class="form-control" placeholder="" name="city"  [(ngModel)]="customer.city">
				</fieldset>
				
				<fieldset class="form-group">
					<label>Postal code</label> <input
						class="form-control" placeholder="" name="postalCode"  [(ngModel)]="customer.postalCode">
				</fieldset>
				
				
				<fieldset class="form-group">
					<label>Country</label>
					<select class="form-control" [(ngModel)]="selectedCountry.code" name="country"
						(change)="onSelect($event.target.value)">
  						<option *ngFor="let country of countries"  value="{{country.code}}">
    						{{country.name}}
  						</option>
					</select>
				</fieldset>
				
				<fieldset *ngIf="showProvincesList" class="form-group">
					<label>Province</label>
					<select class="form-control" name="zone" [(ngModel)]="selectedZone.code">
  						<option *ngFor="let zone of zones"  value="{{zone.code}}">
    						{{zone.name}}
  						</option>
					</select>
				</fieldset>
				
				<fieldset *ngIf="!showProvincesList"class="form-group">
					<label>Province</label> <input
					class="form-control" placeholder="" name="zone" required [(ngModel)]="customer.zone">
				</fieldset>
				
				<fieldset class="form-group">
					<label>Phone number</label> <input
						class="form-control" placeholder="" required name="phoneNumber" [(ngModel)]="customer.phoneNumber">
				</fieldset>
				
				<button type="submit" class="btn btn-secondary"
             		[disabled]="!customerForm.form.valid">Submit</button>
  		
             	 <span *ngIf="customerId">	
             	 <button type="button" (click)="newCustomer()" class="btn btn-default">New Customer</button>
				 </span>
				 
				 <span *ngIf="customerId">	
             	 <button type="button" (click)="newOrder()" class="btn btn-default">Continue to order creation</button>
				 </span>
			</form>


		</div>
	</div>
	<!-- /.row -->

</div>