<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Customer list</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> Customer list</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	

	<div class="row">
		<div class="col-lg-12">
			<alert></alert>
    <table id="customer-list" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Email address</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
		<tr *ngFor="let row of data let i = index" (click)="selectRow(i, row)">
		        <td>{{row.firstName}}</td><td>{{row.lastName}}</td><td>{{row.phoneNumber}}</td><td>{{row.emailAddress}}</td><td><a href="/dashboard/customer;id={{row.id}}" class="btn btn-default">Edit</a>&nbsp;<a href="/dashboard/order;customerId={{row.id}}" class="btn btn-default">Create order</a></td>
		        <!--
		        <td>{{row.firstName}}</td>
		        <td><input [(ngModel)]="row.lastName" style="color:black"></td>
		        -->
		</tr>
      </tbody>
    </table>
			
			<br/>


		</div>
	</div>
	<!-- /.row -->

</div>